// Copyright (c) 2022 TZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#include "zmk-helpers/helper.h"
#include "zmk-helpers/key-labels/34.h"

#define ENG 0
#define RU 1
#define GAME_BASE 2
#define GAME_SECOND 3
#define SYMB 4
#define NUM 5
#define FUNC 6
#define LANGCH 7
#define OPTS 8

#include "definitions/config.dtsi"
#include "definitions/russian.dtsi"
#include "features/behaviors.dtsi"
#include "features/combos.dtsi"
#include "features/conditional_layers.dtsi"

/ {
    keymap {
        compatible = "zmk,keymap";

        eng_layer { // ENG
            display-name = "English";
            bindings = <
            &kp Q      &kp W      &kp F      &kp P      &kp B          &kp J      &kp L      &kp U      &kp Y      &kp RALT
            &kp A      &kp R      &kp S      &kp T      &kp G          &kp M      &kp N      &kp E      &kp I      &kp O
            &kp Z      &kp X      &kp C      &kp D      &kp V          &kp K      &kp H      &kp COMMA  &kp DOT    &kp FSLH
                                       &lt SYMB SPACE   &sl FUNC      &lt NUM ESC  &mt LSHIFT BSPC
            >;
        };

        ru_layer { // RU
            display-name = "Russian";
            bindings = <
            &kp RU_F   &kp RU_YA  &ru_ss_hs  &kp RU_P   &ru_b_jo     &kp RU_H  &kp RU_L  &kp RU_Y    &kp RU_JI  &kp RU_ZH
            &kp RU_A   &kp RU_R   &kp RU_S   &kp RU_T   &kp RU_G     &kp RU_M  &kp RU_N  &kp RU_E    &kp RU_I   &kp RU_O
            &kp RU_CH  &kp RU_C   &kp RU_K   &kp RU_D   &kp RU_YI    &kp RU_Z  &kp RU_V  &ru_sh_sch  &kp RU_YU  &kp RU_IE
                                       &lt SYMB SPACE   &sl FUNC     &lt NUM ESC  &mt LSHIFT BSPC
            >;
        };

        game_base_layer { // GAME_BASE
            display-name = "Game base";
            bindings = <
            &kp B      &kp Q      &kp F      &kp E      &kp R            &kp Y      &kp U      &kp I      &kp O      &kp P
            &kp LSHIFT &kp A      &kp W      &kp D      &kp G            &kp H      &kp J      &kp K      &kp L      &kp SEMI
            &kp Z      &kp X      &kp S      &kp C      &kp V            &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH
                                             &kp SPACE  &sl GAME_SECOND  &lt NUM ESC  &mt LSHIFT BSPC
            >;
        };

        game_second_layer { // GAME_SECOND
            display-name = "Game secondary";
            bindings = <
            &kp N6      &kp N7      &kp N8      &kp N9      &kp N0              &kp Y      &kp U      &kp I      &kp O      &kp P
            &kp N1      &kp N2      &kp N3      &kp N4      &kp N5              &kp H      &kp J      &kp K      &kp L      &kp SEMI
            &kp TAB     &kp U       &kp I       &kp O       &kp P               &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH
                                             &kp SPACE      &sl GAME_SECOND     &lt NUM ESC  &mt LSHIFT BSPC
            >;
        };

        symb_layer { // SYMB
            display-name = "Symbolic";
            bindings = <
            &kp_en TILDE  &kp_en AT    &kp_en PRCNT  &kp_en EXCL   &kp_en HASH      &kp_en SLASH  &kp_en QMARK  &kp_en LT     &kp_en GT    &kp_en BSLH
            &kp_en SQT    &kp_en LBKT  &kp_en RBKT   &kp_en EQUAL  &kp_en PLUS      &kp_en STAR   &kp_en UNDER  &kp_en LPAR   &kp_en RPAR  &kp_en MINUS
            &kp_en COLON  &kp_en SEMI  &kp_en DQT    &kp_en CARET  &kp_en DLLR      &kp_en LBRC   &kp_en RBRC   &kp_en GRAVE  &kp_en AMPS  &kp_en PIPE
                                            &kp SPACE  &kp BSPC    &kp_en PERIOD    &kp_en COMMA
            >;
        };

        num_layer { // NUM
            display-name = "Numeric";
            bindings = <
            &none      &none      &none      &none      &none          &none      &none      &none        &none        &none
            &kp N7     &kp N5     &kp N3     &kp N1     &kp N9         &kp N8     &kp N0     &kp N2       &kp N4       &kp N6
            &none      &none      &none      &none      &none          &none      &none      &out OUT_TOG &bt BT_SEL 0 &bt BT_CLR_ALL
                                             &none      &sl FUNC       &none      &none
            >;
        };

        func_layer { // FUNC
            display-name = "Functional";
            bindings = <
            &kp F1   &kp F2   &kp F3       &kp F4    &kp F5            &kp F6       &kp F7        &kp F8      &kp F9     &kp F10
            &sk LGUI &sk LALT &sk LSHIFT   &sk LCTRL &kp C_VOL_UP      &kp PSCRN    &kp LEFT      &kp DOWN    &kp UP     &kp RIGHT
            &none    &none    &out OUT_TOG &kp DEL   &kp C_VOL_DN      &none        &sl LANGCH    &none       &kp F11    &kp F12
                                           &none     &none             &lt NUM ESC  &none
            >;
        };

        lang_layer { // LANGCH
            display-name = "Language change";
            bindings = <
            &kp LANG_SW  &none      &none      &none      &none          &none      &none      &none      &none      &none
            &none        &none      &ls RU     &ls ENG    &none          &none      &none      &none      &none      &none
            &none        &none      &none      &none      &none          &none      &none      &none      &none      &none
                                               &none      &none          &none      &none
            >;
        };

        opts_layer { // OPTS
            display-name = "Options";
            bindings = <
            &soft_off       &none       &none       &sys_reset  &bootloader     &bootloader  &sys_reset    &none         &none         &soft_off
            &bt BT_CLR_ALL  &none       &none       &none       &tog GAME_BASE  &none        &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3
            &studio_unlock  &bt BT_CLR  &none       &none       &none           &none        &none         &none         &none         &none
                                                    &none       &none           &none        &none
            >;
        };
    };
};
